<h1>VR Atoms</h1>
<h3>Simple GCSE Chemistry atom models built in WebVR. 
    <a href="/table" target="_blank">
        Periodic Table
    </a></h3>
<section>
    <h2>Atoms</h2>
    <ul>
        {{#each atoms}}
            <li><a href="/element/{{name}}" target="atomimage">{{name}}</a> <a class="newtab" href="/element/{{name}}" target="_blank">New</a></li>
        {{/each}}
    </ul>
</section>
<iframe name="atomimage"></iframe>

<style>
    section{
        width:30%;
        float:left;
    }
    iframe{
        width:65%;
        float:right;
        height:600px;
    }
    .newtab{
        font-size:0.7em;
    }
</style>