<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UTC OLP - Atom Models </title>
  </head>
  <body>
   <h1>UTC OLP - Atom Models</h1>
      <h2><a href="table.html">Periodic Table</a></h2>
      <h2>Atoms</h2>
      <ul>
        {{#each atoms}}
          <li><a href="{{name}}.html">{{name}}</a></li>
        {{/each}}
      </ul>
  </body>
</html>
